*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgb(161, 230, 214);
}
#bodySection{
    height: 100vh;
    width: 100vw;
}

.header{
    margin: 5vh 0 0 46vw;
    display: flex;
    flex-direction: column;
}

.header p{
    color: rgb(2, 37, 17);
    font-size: 1.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 750;
    letter-spacing: 4.5px;
}

/* Calculator section starts here */

.calculator{
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
    border-radius: 5vh;
    margin: 5vh 0 5vh 15vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px gray;
    
}
/* left_billSection is here */
.left_billSection{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    margin: 5vh 5vw 5vh 5vw;
}
.left_billSection input{
    margin: 2vh 0 3vh 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 23vw;
    border-radius: 5px;
}
.left_billSection label{
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0 0 1vh 0;
    color: #012919;
    font-family: Arial, Helvetica, sans-serif;
}
.select_tipSection {
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
}
.select_tipSection div{
    display: flex;
    flex-direction: row;
    height: 8vh;
    margin: 0 0 1vh 0;
}
.select_tipSection div button{
    background-color: #014228;
    color: white;
    padding: 10px;
    margin: 1vh 1vw;
    height: 5vh;
    width: 5vw;
    font-weight: bolder;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px rgb(158, 157, 157);
}
.select_tipSection div button:hover{
    background-color: #05794a;
    cursor: pointer;
}

.select_tipSection div button:active{
    transform: translateY(2px);
    box-shadow: 0 2px rgb(18, 18, 18);
}
.select_tipSection div .custom{
    background-color: aliceblue;
    color: black;
    padding: 0 0 0 10px;
    height: 4.5vh;
    width: 4.25vw;
    margin: 1vh 0 2vh 1vw;
    border-radius: 5px;
    font-size: 0.7rem;
}
/* right_billsection is here */

.right_billsection{
    height: 50vh;
    width: 25vw;
    margin: 5vh 5vw 5vh 5vw;
    background-color: #012919;
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 10px;
    padding: 5vh;
}
.right_billsection div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 0;
}
.right_billsection div div h2{
    letter-spacing: 1px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
}
.right_billsection div div small{
    font-weight: bolder;
    color: #38c98f;
}
.right_billsection div p{
    color: #38c98f;
    font-weight: bolder;
    font-size: 2.5rem;
}
.right_billsection div div{
    display: flex;
    flex-direction: column;
}

.RESET{
    width: 20vw;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #012919;
    background-color: #38c98f;
    margin-top: 10vh;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 6px rgb(114, 114, 114);
}

.RESET:hover{
    cursor: pointer;
    background-color: #50eaac;
}
.RESET:active{
    transform: translateY(3px);
    box-shadow: 0 4px rgb(114, 114, 114);
}